@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Red+Hat+Display:wght@500;700;900&display=swap");

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.nav__links li,
a,
button {
  color: var(--light-color);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  text-transform: uppercase;
}

.nav__links,
ul {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--special-color);
}

button {
  margin-left: 15px;
  padding: 9px 25px;
  background-color: var(--special-color);
  opacity: 1;
  color: var(--dark-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  opacity: 0.9;
}
